.container-fluid
  .row.top-buffer
    .col-sm-12
      .row.justify-content-md-center.pt-5
        .col-md-auto.bg-white.rounded-3.p-5.shadow
          .form.form-signin
            .text-center.mb-4
              %h3.fw-bolder Forgot Your Password? 😨
              %br
              %p If you have an account with us, we will send you a reset password email.

              = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                = f.error_notification
                .form-inputs
                  = f.input :email,                       |
                    required: true,                       |
                    autofocus: true,                      |
                    input_html: { autocomplete: "email", class: "rounded-pill" }, |
                  placeholder: "Email Address", label: false
                %br
                .form-actions
                  = f.button :submit, "Reset Password Instructions", class: "btn btn-lg btn-pink btn-block w-100 rounded-pill", data: { turbo: "false" }
              %p.text-center.mt-4
                - if controller_name != 'sessions'
                  = link_to "If you have an account already, click here.", new_session_path(resource_name), class: "px-2 link-dark"
