-# frozen_string_literal: true
.row
  = simple_form_for(@<%= singular_table_name %>) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
    <%- attributes.each do |attribute| -%>
      .col-12.mt-3= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
    <%- end -%>

    %my-4
    .form-actions
      .col-12.mt-3= f.button :submit, class: "w-100 btn btn-pink"
